.App{padding: 10px 50px; box-sizing: border-box;}
.App h1{text-align: center;}
.App .movie{
    display: flex;
    align-items: center;
    border: 2px solid hotpink;
    padding: 7px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.App .movie-title{flex-grow: 1;}
.App .movie-year{font-size: 0.6rem; color: hotpink;}
.App input{width: 100%; border: 1px solid #ddd; padding: 7px; margin-bottom: 5px; box-sizing: border-box;}
.App button{width: 100%; border: none; padding: 7px; margin-bottom: 5px; box-sizing: border-box; background: pink; color: #fff;}
.App .removeBtn button{border: none; padding: 7px; margin-bottom: 0; box-sizing: border-box; background: pink; color: #fff;}
.errText{color: pink; font-size: 12px; margin-bottom: 5px;}
.addText{color: gray; font-size: 14px;}